.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: baseline;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
    grid-auto-rows: 700px;
    grid-auto-flow: dense;

}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.first-column {
    position: relative;
    top: 110px;
}

.third-column {
    position: relative;
    top: 70px;
}

.fourth-column {
    position: relative;
    top: 110px;
}

.fifth-column {
    position: relative;
    top: 50px;
}

.seventh-column {
    position: relative;
    top: 110px;
}

.upper-block {
    width: 100%;
    margin-bottom: 12px;
}

.upper-block img {
    width: 100%;
}

.lower-block {
    width: 100%;
}

.lower-block img {
    width: 100%;
}



/* parallax css */