.btn-primary {
  background: #FFCC01;
  border-radius: 16px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #252600; }
